include:
  - project: 'devops/gitlab-cicd'
    ref: release
    file: '/templates/common/check_k8s_deployment/.gitlab-ci.yml'
  - project: 'devops/gitlab-cicd'
    ref: release
    file: '/templates/maven/maven_build/.gitlab-ci.yml'
  - project: 'devops/gitlab-cicd'
    ref: release
    file: '/templates/common/deploy_to_k8s/.gitlab-ci.yml'
  - project: 'devops/gitlab-cicd'
    ref: release
    file: '/templates/common/notify_to_feishu/.gitlab-ci.yml'

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "test" || $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "sit" || $CI_COMMIT_BRANCH == "stage" || $CI_COMMIT_BRANCH == "release" || $CI_COMMIT_TAG =~ /^release-v/'
      when: always
    - when: never
stages:
  - check
  - check_notify
  - maven_build
  - deploy
  - deploy_notify
  - failed_notify

check_deployment:
  extends:
    - .check_base
  variables:
    PROD_DEPLOYMENT_NAME: ''

check_notify:
  extends:
    - .check_notify_base
  needs: ["check_deployment"]
  when: on_failure


maven_build:
  extends:
    - .maven_build_base
  needs: ["check_deployment"]
  when: on_success

failed_maven_build:
  extends:
    - .failed_notify_base
  needs: ["maven_build"]
  when: on_failure
  dependencies:
    - maven_build


deploy_to_test:
  extends:
    - .deploy_to_k8s_base
  needs: ["check_deployment","maven_build"]
  when: on_success
  dependencies:
    - maven_build
  rules:
    - if: '$CI_COMMIT_BRANCH == "test" || $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "sit" || $CI_COMMIT_BRANCH == "stage"'

deploy_to_pre:
  extends:
    - .deploy_to_k8s_base
  needs: ["check_deployment","maven_build"]
  when: on_success
  dependencies:
    - maven_build
  rules:
    - if: '$CI_COMMIT_BRANCH == "release"'
      when: manual

deploy_to_prod:
  extends:
    - .deploy_to_k8s_base
  needs: ["check_deployment","maven_build"]
  when: on_success
  dependencies:
    - maven_build
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG == $CI_COMMIT_REF_NAME && $CI_COMMIT_TAG =~ /^release-v/'
      when: manual

notify_to_test:
  extends:
    - .deploy_notice_base
  needs: ["deploy_to_test"]
  dependencies:
    - deploy_to_test
  rules:
    - if: '$CI_COMMIT_BRANCH == "test" || $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "sit" || $CI_COMMIT_BRANCH == "stage"'
notify_to_pre:
  extends:
    - .deploy_notice_base
  needs: ["deploy_to_pre"]
  dependencies:
    - deploy_to_pre
  rules:
    - if: '$CI_COMMIT_BRANCH == "release"'
notify_to_prod:
  extends:
    - .deploy_notice_base
  needs: ["deploy_to_prod"]
  dependencies:
    - deploy_to_prod
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG == $CI_COMMIT_REF_NAME && $CI_COMMIT_TAG =~ /^release-v/'