spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace:
        ip:

    gateway:
      discovery:
        locator:
          enabled: true
  application:
    name: gateway

server:
  port: 9000