spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace:
        ip:

    gateway:
      discovery:
        locator:
          enabled: true
      httpclient:
        pool:
          max-connections: 2000
        connect-timeout: 3000
        response-timeout: 15000
  application:
    name: gateway

server:
  port: 9000